<aside class="col-2 text-center" style="background-color:#14597F;witdh:240px; height:954px;">
  <ul class="navbar-nav p-0">
    <li class="nav-item m-4">
      <a href="/admin/profile" class="row text-white" style="text-decoration:none;">
        <i class="col fa-solid fa-address-card fa-3x"></i>
        <p class="col m-2 fs-4">Profile</p>
      </a>
    </li>
    <li class="nav-item m-4">
      <a href="/admin/analysis" class="row text-white" style="text-decoration:none;">
        <i class="col fa-solid fa-chart-line fa-3x"></i>
        <p class="col m-2 fs-4">Analysis</p>
      </a>
    </li>
    <li class="nav-item m-4">
      <a href="/admin/category" class="row text-white" style="text-decoration:none;">
        <i class="col fa-solid fa-chart-pie fa-3x"></i>
        <p class="col m-2 fs-4">Category</p>
      </a>
    </li>
    <li class="nav-item m-4">
      <a href="/admin/tables" class="row text-white" style="text-decoration:none;">
        <i class="col fa-solid fa-table-list fa-3x"></i>
        <p class="col m-2 fs-4">Table</p>
      </a>
    </li>
  </ul>
</aside>