{{>aside}}
<div class="col-10 p-0" style="background-color:#CEE1F2">
  <div class="card m-3" style="witdh:1140px; height:890px;">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li><strong>Name:</strong> {{user.name}}</li>
          <li><strong>Email:</strong> {{user.email}}</li>
        </ul>
      </div>
    </div>
    <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
  </div>
</div>
{{>footer}}